@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  background-color: #1d1e31;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "GodOfWar";
}

p, button {
  color: #888;
  font-family: "Poppins";
}

header .navbar {
  max-width: 900px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-size: 20px;
  color: #fff;
}

header .navbar a:hover {
  color: #fec675;
}

@media screen and (max-width: 750px) {
  header .navbar a {
    font-size: 12px;
  }
  header .navbar img {
    width: 50px;
  }
}

.sec1 {
  width: 95%;
  margin: 0 auto;
}

.sec1 .sec1__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0px auto;
}

.sec1 .sec1__contenair .contenair__left h1 {
  font-size: 128px;
  color: #fafafa;
  text-shadow: 0px 0px 10px #fafafa;
}

@media screen and (max-width: 1500px) {
  .sec1 .sec1__contenair .contenair__left h1 {
    font-size: 96px;
  }
}

.sec1 .sec1__contenair .contenair__left p {
  margin: 30px 0px;
  max-width: 600px;
  font-weight: 700;
}

.sec1 .sec1__contenair .contenair__left button {
  width: 300px;
  height: 65px;
  color: #1d1e31;
  background-color: #fec675;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 10px #050505;
          box-shadow: 0px 0px 10px #050505;
}

@media screen and (max-width: 1300px) {
  .sec1 .sec1__contenair {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .sec1 .sec1__contenair .contenair__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sec1 .sec1__contenair .contenair__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec1 .sec1__contenair .contenair__right img {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .sec1 .sec1__contenair .contenair__left {
    width: 100%;
  }
  .sec1 .sec1__contenair .contenair__left h1 {
    font-size: 48px;
  }
  .sec1 .sec1__contenair .contenair__left p {
    margin: 30px 40px;
  }
  .sec1 .sec1__contenair .contenair__left button {
    width: 250px;
  }
}

.sec2 {
  margin: 150px 0;
}

.sec2 .sec2__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0px auto;
}

.sec2 .sec2__contenair .sec2__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: #353448;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-animation: cardShadow 4s infinite ease-in-out;
          animation: cardShadow 4s infinite ease-in-out;
}

.sec2 .sec2__contenair .sec2__card .card__arrow::before {
  content: "\f107";
  font-family: "fontAwesome";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  background-color: #fec675;
  color: #050505;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes cardShadow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 10px #fec675;
            box-shadow: 0px 0px 20px 10px #fec675;
  }
  20% {
    -webkit-box-shadow: 0px 0px 20px 0px #fec675;
            box-shadow: 0px 0px 20px 0px #fec675;
  }
  40% {
    -webkit-box-shadow: 0px 0px 20px 5px #fec675;
            box-shadow: 0px 0px 20px 5px #fec675;
  }
  70% {
    -webkit-box-shadow: 0px 0px 20px -10px #fec675;
            box-shadow: 0px 0px 20px -10px #fec675;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 10px #fec675;
            box-shadow: 0px 0px 20px 10px #fec675;
  }
}

@keyframes cardShadow {
  0% {
    -webkit-box-shadow: 0px 0px 20px 10px #fec675;
            box-shadow: 0px 0px 20px 10px #fec675;
  }
  20% {
    -webkit-box-shadow: 0px 0px 20px 0px #fec675;
            box-shadow: 0px 0px 20px 0px #fec675;
  }
  40% {
    -webkit-box-shadow: 0px 0px 20px 5px #fec675;
            box-shadow: 0px 0px 20px 5px #fec675;
  }
  70% {
    -webkit-box-shadow: 0px 0px 20px -10px #fec675;
            box-shadow: 0px 0px 20px -10px #fec675;
  }
  100% {
    -webkit-box-shadow: 0px 0px 20px 10px #fec675;
            box-shadow: 0px 0px 20px 10px #fec675;
  }
}

.sec2 .sec2__contenair .sec2__card .card__left {
  margin-right: 80px;
}

.sec2 .sec2__contenair .sec2__card .card__left img {
  position: relative;
  top: -70px;
}

.sec2 .sec2__contenair .sec2__card .card__right {
  max-width: 500px;
  color: #fec675;
  letter-spacing: 2px;
}

.sec2 .sec2__contenair .sec2__card .card__right h1 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 30px;
}

.sec2 .sec2__contenair .sec2__card .card__right p {
  color: #b1b1b1;
}

@media screen and (max-width: 1250px) {
  .sec2 .sec2__contenair .sec2__card {
    text-align: center;
  }
  .sec2 .sec2__contenair .sec2__card .card__left {
    margin-right: 0;
  }
  .sec2 .sec2__contenair .sec2__card .card__right {
    max-width: 750px;
    margin: 50px 50px;
    margin-top: -25px;
  }
  .sec2 .sec2__contenair .sec2__card .card__right h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 600px) {
  .sec2 .sec2__contenair .sec2__card .card__left img {
    width: 80%;
  }
  .sec2 .sec2__contenair .sec2__card .card__right {
    margin: 50px 20px;
    margin-top: -25px;
  }
  .sec2 .sec2__contenair .sec2__card .card__right h1 {
    font-size: 32px;
  }
  .sec2 .sec2__contenair .sec2__card .card__right p {
    margin: 0 10px;
  }
}

.sec3 {
  background-color: antiquewhite;
  z-index: 99;
  overflow: hidden;
  background-image: url(/assets/img/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 .pique-down {
  -webkit-filter: drop-shadow(0px 8px 5px rgba(254, 198, 117, 0.4));
          filter: drop-shadow(0px 8px 5px rgba(254, 198, 117, 0.4));
}

.sec3 .pique-up {
  -webkit-filter: drop-shadow(0px -8px 5px rgba(254, 198, 117, 0.4));
          filter: drop-shadow(0px -8px 5px rgba(254, 198, 117, 0.4));
}

.sec3 .sec3__title h4 {
  color: #fec675;
  font-size: 24px;
}

.sec3 .sec3__title h1 {
  color: #fff;
  font-size: 64px;
}

.sec3 .sec3__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  max-width: 1500px;
  margin: 0 auto;
}

.sec3 .sec3__contenair h2 {
  color: #fec675;
  margin-bottom: 10px;
}

.sec3 .sec3__contenair p {
  color: #fff;
}

.sec3 .sec3__contenair .contenair__left {
  text-align: right;
  max-width: 350px;
}

.sec3 .sec3__contenair .contenair__right {
  max-width: 350px;
}

.sec3 .sec3__contenair .contenair__right, .sec3 .sec3__contenair .contenair__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1250px) {
  .sec3 {
    text-align: center;
  }
  .sec3 .sec3__contenair {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3 .sec3__contenair .top, .sec3 .sec3__contenair .bot {
    margin: 25px 0;
  }
  .sec3 .sec3__contenair .contenair__middle {
    display: none;
  }
  .sec3 .sec3__contenair .contenair__left {
    text-align: center;
  }
  .sec3 .sec3__contenair .contenair__left, .sec3 .sec3__contenair .contenair__right {
    max-width: 600px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .sec3 .sec3__title h1 {
    font-size: 44px;
  }
}

.sec4 .sec4__center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.sec4 .sec4__center-box .sec4__title h4 {
  color: #fec675;
  font-size: 24px;
}

.sec4 .sec4__center-box .sec4__title h1 {
  color: #fff;
  font-size: 64px;
}

@media screen and (max-width: 600px) {
  .sec4 .sec4__center-box .sec4__title h1 {
    font-size: 44px;
  }
}

.sec4 .sec4__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1500px;
  margin: 0px auto;
}

.sec4 .sec4__contenair .sec4__card {
  height: 550px;
  width: 400px;
  background-color: #353448;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
}

.sec4 .sec4__contenair .sec4__card .card__top {
  position: relative;
  top: -25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f12711), to(#f5af19));
  background: linear-gradient(to top, #f12711, #f5af19);
}

.sec4 .sec4__contenair .sec4__card .card__top img {
  position: relative;
  top: 45px;
  left: 130px;
}

.sec4 .sec4__contenair .sec4__card .card__bot {
  position: relative;
  top: 100px;
  margin: 0 20px;
  text-align: center;
}

.sec4 .sec4__contenair .sec4__card .card__bot .card__description {
  line-break: anywhere;
  text-align: center;
  margin: 30px 10px 0 10px;
  font-family: "Poppins";
  color: #b1b1b1;
}

.sec4 .sec4__contenair .sec4__card .card__bot h1 {
  color: #fff;
  font-size: 32px;
}

.sec4 .sec4__contenair .sec4__card .card__bot h4 {
  color: #fec675;
  font-weight: bold;
  font-size: 24px;
}

.sec4 .sec4__contenair .sec4__card:nth-child(1) .card__top {
  position: relative;
  top: -100px;
  height: 275px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f12711), to(#f5af19));
  background: linear-gradient(to top, #f12711, #f5af19);
  -webkit-transform: skew(0deg, -25deg);
          transform: skew(0deg, -25deg);
}

.sec4 .sec4__contenair .sec4__card:nth-child(1) .card__top img {
  position: relative;
  top: 70px;
  left: 5px;
  -webkit-transform: skew(0deg, 25deg);
          transform: skew(0deg, 25deg);
}

.sec4 .sec4__contenair .sec4__card:nth-child(1) .card__bot {
  position: relative;
  top: -70px;
}

.sec4 .sec4__contenair .sec4__card:nth-child(1) .card__bot h1, .sec4 .sec4__contenair .sec4__card:nth-child(1) .card__bot h4 {
  text-align: right;
}

.sec4 .sec4__contenair .sec4__card:nth-child(3) .card__top {
  position: relative;
  top: -100px;
  height: 275px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f12711), to(#f5af19));
  background: linear-gradient(to top, #f12711, #f5af19);
  -webkit-transform: skew(0deg, 25deg);
          transform: skew(0deg, 25deg);
}

.sec4 .sec4__contenair .sec4__card:nth-child(3) .card__top img {
  position: relative;
  top: 70px;
  left: 190px;
  -webkit-transform: skew(0deg, -25deg);
          transform: skew(0deg, -25deg);
}

.sec4 .sec4__contenair .sec4__card:nth-child(3) .card__bot {
  position: relative;
  top: -70px;
}

.sec4 .sec4__contenair .sec4__card:nth-child(3) .card__bot h1, .sec4 .sec4__contenair .sec4__card:nth-child(3) .card__bot h4 {
  text-align: left;
}

footer {
  background: #353448;
  margin-top: 120px;
}

footer .footer__contenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1500px;
  margin: 0px auto;
}

footer .footer__contenair .footer__left, footer .footer__contenair .footer__right {
  margin: 100px 0;
}

footer .footer__contenair .footer__left h1, footer .footer__contenair .footer__right h1 {
  color: #fec675;
  margin-bottom: 20px;
}

footer .footer__contenair .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  line-height: 34px;
}

footer .footer__contenair .footer__left a {
  color: #fff;
  font-family: "Poppins";
}

footer .footer__contenair .footer__left a:hover {
  color: #fec675;
}

footer .footer__contenair .footer__right p {
  max-width: 450px;
  color: #fff;
}

@media screen and (max-width: 760px) {
  footer .footer__contenair {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__contenair .footer__left, footer .footer__contenair .footer__right {
    margin: 0 40px;
    text-align: center;
    line-break: anywhere;
  }
  footer .footer__contenair .footer__left {
    margin: 80px 0;
  }
  footer .footer__contenair .footer__right {
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=style.css.map */